<div class="advisors-form_container">
  <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
    <div class="advisors-form__account-wrapper">
      <label
        >{{ getLabel(accountProperties.serial) }}:<input
          type="text"
          [formControlName]="accountProperties.serial"
      /></label>

      <label
        ><input
          type="checkbox"
          [formControlName]="accountProperties.preview"
        />{{ getLabel(accountProperties.preview) }}</label
      >
    </div>
    <div *ngIf="isValid('serial')">
      <hr />
      <app-advisors-info
        *ngIf="!isPreviewEnabled(); else previewEnabled"
        [advisorsFormArray]="getAdvisorsFormArray()"
      ></app-advisors-info>
      <ng-template #previewEnabled>
        <app-advisors-info-preview
          [advisorsFormArray]="getAdvisorsFormArray()"
        ></app-advisors-info-preview>
      </ng-template>
    </div>
    <button type="submit" [disabled]="accountForm.invalid">Submit</button>
  </form>
</div>
