<div class="advisors-form_container">
  <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
    <div class="advisors-form__account-wrapper">
      <label
        >{{ getLabel('serial') }}:<input type="text" formControlName="serial"
      /></label>

      <label
        ><input type="checkbox" formControlName="preview" />{{
          getLabel('preview')
        }}</label
      >
    </div>
    <div *ngIf="isValid('serial')">
      <hr />
      <app-advisors-info [formGroup]="accountForm"></app-advisors-info>
    </div>
    <button type="submit" [disabled]="accountForm.invalid">Submit</button>
  </form>
</div>
