<ng-container [formGroup]="formGroup">
  <h4>Advisors:</h4>
  <div class="advisors__row" *ngFor="let advisor of advisors; let i = index">
    <app-advisor
      [advisor]="advisor"
      (advisorFormGruoupCreated)="onAdvisorFormGroupCreated($event)"
    ></app-advisor>
    <a [routerLink]="" (click)="removeAdvisorByIndex(i)">Delete</a>
  </div>
</ng-container>
<a
  [routerLink]=""
  (click)="addNewAdvisor()"
  [ngClass]="{ 'a--disabled': isAdvisorsAmountLimitReached() }"
  >Add new advisor</a
>
