<ng-container [formGroup]="formGroup">
  <ng-container formArrayName="advisors">
    <h4>Advisors:</h4>
    <div
      class="advisors__row"
      *ngFor="let advisor of advisorsFormArray.controls; let i = index"
    >
      <app-advisor [advisor]="advisor"></app-advisor>
      <a [routerLink]="" (click)="removeAdvisorByIndex(i)">Delete</a>
    </div>
  </ng-container>
</ng-container>
<a
  [routerLink]=""
  (click)="addNewAdvisor()"
  [ngClass]="{ 'a--disabled': false }"
  >Add new advisor</a
>
